#footer{
    background-color: lighten($black, 33.5%);
    @include padding(85 0 0);
    .logo{
        display: $ib;
        @include margin-bottom(40);
        @include max-width(180);
        img{
            @include max-height(70);
        }
    }
    ul{
        li{
            display: $ib;
            @include margin(10 25);
            a{
                @include fontsize(18);
                color: $white;
                @include font-weight(semi-bold);
            }
        }
    }
    .__copy{
        @include padding(20 15);
        color: $white;
        background-color: lighten($black, 25%);
        text-align: center;
        @include fontsize(14);
        text-transform: uppercase;
    }
}