<% extend 'layout' %>
    <div id="MainWarpper" class="bg-light aboutus" style="background: url(../BackgroundImages/banner_logist.jpg) no-repeat center center fixed;;">

        <div class="container">
            <div class="aboutheader">
                <h2>Terms &amp; Conditions</h2>

            </div>

            <div class="aboutus_wrapper" id="aboutus_wrapper"><p>&#xA0;&#xA0;</p>
<p><strong>Terms of website use</strong></p>
<p><br></p>
<p>This page (together with the documents referred to on it) tells you the terms of use on which you may make use of our website Logistcompare.com (our site), whether as a guest or a registered user. Please read these terms of use carefully before you start to use the site. By using our site, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, please refrain from using our site.</p>
<p><br></p>
<p><strong>Information about us<br>
</strong></p>
<p>LogistCompare is registered in England and Wales under company number 10565929 and have our registered office at 27 Old Gloucester Street, London, WC1N 3AX. We are a limited company.</p>
<p><br>
<strong>Accessing our site<br>
</strong></p>
<p>Access to our site is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our site without notice (see below). We will not be liable if for any reason our site is unavailable at any time or for any period.</p>
<p>From time to time, we may restrict access to some parts of our site, or our entire site, to users who have registered with us.</p>
<p>If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these terms of use.</p>
<p>When using our site, you must comply with the provisions of our acceptable use policy.</p>
<p>You are responsible for making all arrangements necessary for you to have access to our site. You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms, and that they comply with them.&#xA0;</p>
<p><br></p>
<p><strong>Intellectual property rights<br>
</strong></p>
<p>We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>
<p>You may print off and download extracts, of any page(s) from our site for your personal reference and you may draw the attention of others within your organisation to material posted on our site.&#xA0;</p>
<p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>
<p>Our status (and that of any identified contributors) as the authors of material on our site must always be acknowledged.</p>
<p>You must not use any part of the materials on our site for commercial purposes without obtaining a licence to do so from us or our licensors.</p>
<p><br></p>
<p><strong>Reliance on information posted</strong></p>
<p><br></p>
<p>Commentary and other materials posted on our site are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our site, or by anyone who may be informed of any of its contents.</p>
<p><br></p>
<p><strong>Our site changes regularly</strong></p>
<p><br></p>
<p>We aim to update our site regularly, and may change the content at any time. If the need arises, we may suspend access to our site, or close it indefinitely. Any of the material on our site may be out of date at any given time, and we are under no obligation to update such material.</p>
<p><br></p>
<p><strong>Our liability</strong></p>
<p><br></p>
<p>The material displayed on our site is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, we, other members of our group of companies and third parties connected to us hereby expressly exclude:</p>
<p>All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.</p>
<p>Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it, including, without limitation any liability for:</p>
<p>loss of income or revenue;</p>
<p>loss of business;</p>
<p>loss of profits or contracts;</p>
<p>loss of anticipated savings;</p>
<p>loss of data;</p>
<p>loss of goodwill;</p>
<p>wasted management or office time; and</p>
<p>for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, provided that this condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.</p>
<p><br></p>
<p><strong>Information about you and your visits to our site</strong></p>
<p><br></p>
<p>We process information about you in accordance with our privacy policy. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.</p>
<p><br></p>
<p><strong>Transactions concluded through our site</strong></p>
<p><br></p>
<p>Contracts for the supply of services or information formed through our site or as a result of visits made by you are governed by our terms and conditions of supply.</p>
<p><br></p>
<p><strong>Uploading material to our site</strong></p>
<p><br></p>
<p>Whenever you make use of a feature that allows you to upload material to our site, or to make contact with other users of our site, you must comply with the content standards set out in our acceptable use policy. You warrant that any such contribution does comply with those standards, and you indemnify us for any breach of that warranty.&#xA0;</p>
<p>Any material you upload to our site will be considered non-confidential and non-proprietary, and we have the right to use, copy, distribute and disclose to third parties any such material for any purpose. We also have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.</p>
<p>We will not be responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of our site.</p>
<p>We have the right to remove any material or posting you make on our site if, in our opinion, such material does not comply with the content standards set out in our acceptable use policy.</p>
<p><br></p>
<p><strong>Viruses, hacking and other offences</strong></p>
<p><br></p>
<p>You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack.</p>
<p>By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.</p>
<p>We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any material posted on it, or on any website linked to it.</p>
<p><br></p>
<p><strong>Linking to our site</strong></p>
<p><br></p>
<p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</p>
<p>You must not establish a link from any website that is not owned by you.</p>
<p>Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page. We reserve the right to withdraw linking permission without notice. The website from which you are linking must comply in all respects with the content standards set out in our acceptable use policy.</p>
<p>If you wish to make any use of material on our site other than that set out above, please address your request to Serafina@LogistCompare.com</p>
<p><br></p>
<p><strong>Links from our site</strong></p>
<p><br></p>
<p>Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.&#xA0;</p>
<p><br></p>
<p><strong>Jurisdiction and applicable law</strong></p>
<p><br></p>
<p>The English courts will have exclusive jurisdiction over any claim arising from, or related to, a visit to our site although we retain the right to bring proceedings against you for breach of these conditions in your country of residence or any other relevant country.&#xA0;</p>
<p>These terms of use and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.</p>
<p><br></p>
<p><strong>Variations</strong></p>
<p><br></p>
<p>We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on our site.</p>
<p><br></p>
<p><strong>Your concerns</strong></p>
<p><br></p>
<p>If you have any concerns about material which appears on our site, please contact Serafina@Logistcompare.com</p>
<p>Thank you for visiting our site.<br>
<br>
<br>
&#xA0;</p>
<p><strong>MANGOPAY Payment Service Framework Agreement<br>
General Terms and Conditions<br>
<br>
</strong>Concluded between:</p>
<p><br></p>
<p>The customer, a natural person being of age and having full capacity, resident in a European Union Member State or in a state party to the Agreement on the European Economic Area or in a third country that imposes the equivalent requirements regarding money laundering and the financing of terrorism, or a legal person registered in one of these states, acting on his/her/its behalf for commercial, industrial, craft or professional purposes, as a seller of goods or services on the Website,</p>
<p>hereinafter referred to as &#x201C;<strong>the Seller</strong>&#x201D;, on one hand; and</p>
<p>MANGOPAY S.A., a public limited company governed by Luxembourg law, with a capital of 2 000 000 Euros, whose registered office is located at 59 Boulevard Royal, L-2449 Luxembourg and registered in the Luxembourg Trade and Companies Register under the number B173459, approved as an E-money institution, including the license to offer payment account services, by the Financial Sector Supervisory Commission(CSSF), 110 route d&#x2019;Arlon L-1150 Luxembourg, www.cssf.lu, and authorised to carry out its business in Europe,&#xA0;</p>
<p>hereinafter referred to as &#x201C;<strong>the Service Provider</strong>&#x201D;, on the other hand;</p>
<p>hereinafter collectively referred to as the &#x201C;<strong>Parties</strong>&#x201D;.</p>
<p><br></p>
<p><strong>Foreword</strong></p>
<p>The Seller is advised to carefully read these General Terms and Conditions and the Special Conditions, which together form the &#x201C;Framework Agreement&#x201D; and which have been communicated to the Seller on the Website, before accepting them.</p>
<p>The Seller is informed that the language used for communicating with the Service Provider is French, English or German.</p>
<p><br></p>
<p><strong>1. Definitions</strong></p>
<p>For the purposes hereof, the terms hereafter are defined as follows:</p>
<p><strong>Banks</strong>: Credit institutions in charge of the protection of funds collected by the Service Provider on behalf of the Seller. These funds are held in a holding account that has been opened for this purpose. The designated institution is currently ING Luxembourg. The Service Provider reserves the right to select any other credit institution based in a European Union Member State or in a State party to the agreement on the European Economic Area. The current list of the selected credit institutions is available upon request at the Service Provider.</p>
<p><br></p>
<p><strong>Buyer</strong>: Any legal entity or natural person having purchased goods or services offered for sale on the Website and used Accepted Payment Methods to transfer funds.</p>
<p><br></p>
<p><strong>Card: </strong>Bank, payment or credit card linked to one of the following networks: Visa, MasterCard or CB.</p>
<p><br></p>
<p><strong>Accepted Payment Methods</strong>: Means a payment by Card, by bank wire transfer or by any other means accepted by the Service Provider in order to pay the purchase price for products bought via the Website to the Payment Account which the Seller holds with the Service Provider.</p>
<p><br></p>
<p><strong>European Economic Area: </strong>Means the economic area comprising the member states of the European Free Trade Association (EFTA) &#x2013; Iceland, Liechtenstein and Norway &#x2013; and all member states of the European Union (EU).</p>
<p><br></p>
<p><strong>General Terms and Conditions</strong>: Means the present document.</p>
<p><br></p>
<p><strong>Pricing Conditions: </strong>Means the document comprising all the fees due by the Seller for the use and management of the Payment Account, especially for transfer of funds and transactions carried out in connection with the Payment Account. The Pricing Conditions are included in the Website&#x2019;s pricing on the Website&#x2019;s General Terms and Conditions</p>
<p><br></p>
<p><strong>Special Conditions</strong>: Means the form to be completed by the Seller on the Website, notably including the Pricing Conditions applicable to the payment services.&#xA0;</p>
<p><br></p>
<p><strong>Website&#x2019;s General Terms and Conditions</strong>: Means the general terms and conditions of use of the Website, concluded between the Website user and the Platform, notably governing access to the Website.</p>
<p><strong><br>
Framework Agreement</strong>: Means the payment service framework agreement formed as a result of these General Terms and Conditions and the Special Conditions.</p>
<p><strong><br>
Payment Account or Account</strong>: Account managed by the Service Provider on behalf of a Seller and used for the purposes of executing Payment Transactions. Under no circumstances may the Payment Account be compared to a deposit account.</p>
<p><strong><br>
Seller</strong>: Means any legal entity or natural person acting on its/his/her own behalf as a seller of goods and/or services on the Website.</p>
<p><strong><br>
Platform</strong>: Means the company which operates the Website. The Platform prepares, facilitates and advises Sellers for the purpose of concluding the Framework Agreement through the Website. The Service Provider has appointed the Platform as an agent for its payment services (within the meaning of Art. 4 para. 24 of the European Payment Services Directive I, 2007/64/EC of 13 November 2007) with the Luxembourg Financial Sector Supervisory Commission (CSSF). The Service Provider remains responsible vis-&#xE0;-vis the Sellers for any payment activities delegated to the Platform in its role as an agent.</p>
<p><br></p>
<p><strong>Business Day</strong>: Means a calendar day with the exception of Saturdays, Sundays and public holidays in France, Luxembourg and Germany, on which the payment infrastructures of these countries and Banks used carry out their regular business activities.</p>
<p><strong><br>
Payment Transaction</strong>: Means a transfer of money from the Payment Account of a Seller to his/her regular bank account. The Service Provider will initiate a Payment Transaction automatically and without further involvement of the Seller in each case where money is completely available, less the fees owed by the Seller under this Framework Agreement.&#xA0;</p>
<p><br></p>
<p><strong>Website</strong>: Means the website with the URL <a href="http://www.chrono24.com/">.....................</a>or other associated Top Level Domains operated by the Platform.</p>
<p><br></p>
<p><strong>Seller</strong>: Means a person selling goods via the Website on behalf of which a Payment Account is opened in order to receive payments from Buyers.</p>
<p><br></p>
<p><strong>2. Purpose&#xA0;</strong></p>
<p>These General Terms and Conditions aim to define the conditions in which the Service Provider supplies payment services to the Seller in return for remuneration as defined in Article 17 herein and according to the applicable Special Conditions.</p>
<p>These payment services include:</p>
<p>- Opening and management of a Payment Account,&#xA0;</p>
<p>- Credited to the Payment Account: registration of funds transferred by Accepted Payment Methods by Buyers,</p>
<p>- Debited from the Payment Account: the execution of transfers to the bank account of the Seller (Payment Transaction), the collection of fees owed pursuant to this Framework Agreement, the reversal of transfers of funds made by a Buyer by Accepted Payment Methods.</p>
<p>The Account shall not be subject to any overdraft, advance, credit or discount.&#xA0;</p>
<p>The Service Provider has authorised the Platform to facilitate the conclusion of this Framework Agreement with each Seller and to support the Sellers throughout their relations with the Service Provider. The Service Provider remains responsible vis-&#xE0;-vis the Sellers for any payment activities delegated to the Platform.</p>
<p>These General Terms and Conditions and the Special Conditions constitute the entire Framework Agreement concluded between the Parties for the use of payment services and the opening and management of the Payment Account by the Service Provider.&#xA0;</p>
<p>The Seller may, at any time and at no cost, obtain a copy of these documents by accessing the Website. In case of a dispute between the Parties, the Framework Agreement shall prevail.</p>
<p><br></p>
<p><strong>3. Opening an Account</strong></p>
<p>3.1 Conditions required for and prior to opening an Account</p>
<p>Any natural person of at least 18 (eighteen) years of age, of legal capacity, as well as any legal person, resident or registered in a member State of the European Union or in a state that is party to the agreement relating to the European Economic Area, or in a third country that imposes the equivalent requirements regarding money laundering and the financing of terrorism, may send a request to open an Account, provided that the person is registered on the Website as a Seller.&#xA0;</p>
<p>3.2 Procedure for registering and opening an Account&#xA0;</p>
<p>The Seller must provide the Service Provider, through the Platform, with:</p>
<p>&#xB7; his/her surname, first name, address, email address, date of birth and nationality, (for natural persons) or</p>
<p>&#xB7; the company name, corporate form, capital, the address of its registered office, the description of its business activity, the identity of partners and company executives, as well as the list of beneficial owners as defined by the regulations, a company registration certificate dated less than three months and the articles of association (for legal persons),</p>
<p>if this information has not already been provided to the Platform or if the Seller does not authorise the Platform to communicate it to the Service Provider.</p>
<p>Pursuant to the laws for the prevention of money laundering and terrorism financing, the Service Provider is obliged to identify every Seller and to collect certain documents and information in this regard.</p>
<p>The minimum documents required by the Service Provider for any Seller who is a natural person, are the following:</p>
<p>- a copy of a currently valid official document proving the Seller&#x2019;s identity (for example: identity card, driving licence, and, for third-country nationals in the European Union, a passport),&#xA0;</p>
<p>- an original copy or a copy of an extract from the official register, dated not more than three months, recording the Seller&#x2019;s registration in the national directory of trades or any other organisation with which the Seller is required to register.</p>
<p>The documents required for any Seller who is a legal entity in accordance with the foregoing are the following:</p>
<p>- original copy or copy of an extract from the official register, dated not more than three months, recording the name, legal structure, address of the registered office and identity of the partners and company executives mentioned in paragraphs 1&#xB0; and 2&#xB0; of Article R.123-54 of the Commercial Code or their equivalent codes under foreign law;&#xA0;</p>
<p>- a copy of the Articles of Association and any decisions appointing the certified true legal representative;</p>
<p>- a copy of the legal representative&#x2019;s identity card or passport and, if and where appropriate, of the beneficial owner.</p>
<p>It is expressly provided that the Service Provider retains the option to request, at any time, any additional documents concerning the Seller, the beneficial owner or a specific Payment Transaction.</p>
<p>The Seller provides the bank account information relating to an account opened in his/her name with a bank established in a member State of the European Union or in a State party to the agreement on the European Economic Area or in a third-party country imposing equivalent obligations in terms of the prevention of money laundering and the financing of terrorism. Payment Transactions will be carried out from the Payment Account to such a bank account only.&#xA0;</p>
<p>After carefully reading the Framework Agreement, the Seller must accept it according to the procedures provided for by the Website and provide all information and supporting documents that are requested from him/her by the Service Provider through the Platform. By agreeing to the terms of the Framework Agreement, the Seller accepts that the Platform will transmit to the Service Provider his/her application for registration as a Seller and all supporting documents received by it.</p>
<p>Only the Service Provider can - within an inspection period of three (3) Business Days &#x2013; accept the registration of a Seller as a customer of the Service Provider and open an Account in his/her name. The Service Provider may, without stating reasons and with no right to compensation for the Seller, refuse an application to register and to open an Account. After completion of the inspection, the Service Provider will inform the Platform about the result. The Platform will notify the Seller of the result by any means in accordance with the terms specified on the Website.</p>
<p>The Seller declares at the time of transmission of his/her registration request to the Platform and for the whole duration of the Framework Agreement:</p>
<p>- &#xA0;(a) that he/she is at least 18 (eighteen) years of age and of legal capacity or that his/her establishment is validly incorporated in the form of a company,&#xA0;</p>
<p>- &#xA0;(b) that he/she is acting on his/her own behalf;&#xA0;</p>
<p>&#xA0;- (c) that all information provided at the time of his/her registration is sincere, accurate and up-to-date.</p>
<p>As per the discretion of the Service Provider, the use of a Payment Account may be limited without the Service Provider having to justify its decision to the respective Seller.</p>
<p>After being registered as a customer of the Service Provider, the Seller may login with his/her Website account and password. The Seller is fully responsible for maintaining the confidentiality of his/her login details. He/she accepts not to use the name or login details of another person at any time, nor disclose his/her login details to a third party. The Seller accepts to immediately notify the Platform, in the event that he/she suspects unauthorised use of his/her login details He/she alone is responsible for any use of his/her login details.&#xA0;</p>
<p><br></p>
<p><strong>4. Operation of the Payment Account</strong></p>
<p>The sums transferred by Accepted Payment Methods by the Buyers are credited to the Payment Account opened on behalf of the designated Seller.</p>
<p>The sums debited from the Payment Account result from&#xA0;</p>
<p>(i) the execution of Payment Transactions to a regular bank account opened in the Seller&#x2019;s name at a bank supervised by an Authority of a European Union member state or a European Economic Area state or a third country that imposes the equivalent requirements regarding money laundering and the financing of terrorism,</p>
<p>(ii) the collection by the Service Provider of the fees owed by the Seller under the Framework Contract or,&#xA0;</p>
<p>(iii) the reversal of a transaction made by a Buyer by Accept Payment Methods.</p>
<p>4.1 Registration of sums transferred by Accepted Payment Methods by the Buyers and credited to the Account&#xA0;</p>
<p>Payment of the price of goods or services purchased on the Website by a Buyer may be made by Accepted Payment Methods, in one or more instalments. When the Buyer wishes to carry out such a transaction, the Buyer logs in to the Website and enters the transfer order for the funds on a payment page dedicated for this purpose. For any payment, the Buyer may be asked to enter a single-use code notified to his/her mobile phone for the attention of the institution having issued the Card. If and where appropriate, it is the responsibility of the Service Provider to refuse any payment at its discretion and without this decision giving rise to any compensation. The transfer of funds by Card is executed by the institution having issued the Card. Any dispute surrounding such a transfer must be notified to the aforementioned institution. The Service Provider is not authorised to cancel such a transfer.&#xA0;</p>
<p>The Seller is informed that acceptance of a transfer order for payment by Accepted Payment Methods by the Service Provider does not guarantee that the Seller will receive the corresponding funds in his/her Account. The registration of funds into the Seller&#x2019;s Payment Account is conditioned upon actual receipt by the Service Provider of the funds collected minus the fees agreed in the Special Conditions.&#xA0;</p>
<p>In the absence of receipt of funds for technical reasons, the Service Provider will make every effort to complete the transaction. In the absence of receipt of funds for any other reason, the Service Provider will inform the Seller within 48 hours that it has been unable to credit the Seller&#x2019;s Account with the expected amount, so that he/she can contact the Buyer.</p>
<p>In the event that the transfer of funds by Card registered in the Seller&#x2019;s Account is cancelled by the issuer of the Card following a dispute with the Buyer, the Seller accepts that the Service Provider may reverse any transfer of funds by Card by debiting the corresponding amount from the Payment Account. The Seller acknowledges that such a dispute may be brought to the attention of the Card issuer until the expiry of a maximum period of 13 months following the debit date of the account with which said Card is associated. The Service Provider may, in the absence of sufficient funds in the Account and in order to carry out such a reversal, suspend or cancel any Payment Transaction, or, if necessary, have the Seller&#x2019;s rights subrogated and proceed with the collection of sums owed by the Buyer by any means.&#xA0;</p>
<p>4.2 Repayment&#xA0;</p>
<p>The Seller may, at any time, instruct the Service Provider to cancel a transfer of funds by Accepted Payment Methods, in order to repay a designated Buyer the purchase price of goods or services under the sales conditions adopted by each Seller. The Seller identifies himself on the Website by indicating his/her user name and password. In his/her personal Website account, the Seller indicates the repayment, the Buyer to be recredited and any other information required.</p>
<p>In case of payment by Card, the repayment transaction is carried out by the Service Provider by crediting the Card used by the Buyer within the limits of the rules of each network and within five business days following receipt by the Service Provider of the request for repayment. In case of other Accepted Payment Methods, the Service Provider will repay the Buyer corresponding to the Accepted Payment Method used by the Buyer for his/her payment. Where the Service Provider requires the bank details of a Buyer in order to carry out the repayment, the Platform will contact the Buyer and provide the Service Provider with the respective bank details.&#xA0;</p>
<p>&#xA0;4.3 Execution of Payment Transactions</p>
<p>The sums credited to the Payment Account will be transferred automatically to the bank account of the Seller &#x2013; less fees owed by the Seller under this Framework Agreement &#x2013; as soon as the following conditions are met:</p>
<p>- The purchased good for which the sums have been payed has been delivered to the Buyer according to the delivery service; and</p>
<p>- The 14 days withdrawal period has expired without the Buyer executing his right of withdrawal.</p>
<p>As soon as these conditions are met, the Service Provider will transfer the respective amount from the Payment Account to the Seller&#x2019;s bank account automatically and without the requirement of the Seller&#x2019;s further activity.</p>
<p><br></p>
<p><strong>5. Blocking of login details, Transaction dispute and Reporting&#xA0;</strong></p>
<p>5.1 Blocking of login details</p>
<p>The Payment Account is accessible only via the Website with the same login details used for access to the personal Website account of each Seller. Therefore, the Seller must inform the Platform of the loss or theft of his/her login details, misappropriation or any unauthorised use of them or of his/her data without undue delay in order to request that the login details be blocked. The blocking request must be made in accordance with the General Terms and Conditions of the Website.</p>
<p>The Platform will execute the blocking request for the concerned login details to the Website in accordance with the General Terms and Conditions of the Website. As the Payment Account is accessible only via the Website, the Account will not be reachable after the login details are blocked. The Platform will inform the Service Provider without undue delay about the blocking of the login details for the Website. As the unauthorised use of login details normally can&#x2019;t result in a misuse of the Payment Account, Payment Transactions will usually not be stopped due to a blocking of login details. Nonetheless, the Service Provider in coordination with the Platform can block the Payment Account in the event of special circumstances which justify blocking the Account and stopping Payment Transactions.</p>
<p>The Service Provider and the Platform shall not be held liable for any consequences arising from blocking by fax or e-mail which was not sent by the Seller.</p>
<p><br></p>
<p>5.2 Disputing a Transaction&#xA0;</p>
<p>For any complaint relating to the Payment Transactions executed by the Service Provider as part of this Framework Agreement, the Seller is advised to contact the Platform&#x2019;s customer service or the address indicated for this purpose in the Website&#x2019;s General Terms and Conditions.&#xA0;</p>
<p>If a Payment Transaction is executed by the Service Provider with errors due to its fault, the Payment Transaction will be cancelled and the Account will be restored to its situation prior to execution of the Payment Transaction. The Payment Transaction will then be executed again correctly.</p>
<p>The Seller who wishes to dispute a transaction unauthorised by him/her must contact the Platform&#x2019;s customer service by telephone as soon as possible following his/her becoming aware of the anomaly and no later than eight (8) weeks following entry of the transaction in the Account. The Platform is responsible for transmitting the dispute to the Service Provider without undue delay. After validation of the legitimacy of the request transmitted by the Platform to the Service Provider, the Service Provider will cancel the transaction and apply a temporary credit to the Account in order to restore it to the state in which it would have been if the disputed transaction had not been carried out. After an investigation into the validity of the dispute, the Service Provider will consequently adjust the Account and is authorised to reverse any Account entry that has been unduly made</p>
<p>Fees indicated in the Special Conditions may be collected in case of an unjustified dispute of a Payment Transaction.</p>
<p><br></p>
<p>5.3 Reporting</p>
<p>The Seller may access, at any time, his/her personal page on the Website, showing the amount of money credited to his/her Account but which has not been transferred yet to his bank account as the conditions mentioned in Art. 4.3 are not fully met.&#xA0;</p>
<p>The Seller will be able to consult on his/her personal page on the Website a statement of Payment Transactions made from the Account. He/she is invited to carefully study the list of these Payment Transactions.</p>
<p>The Service Provider shall make available to the Seller, upon written request, a monthly Account statement covering the previous thirteen (13) months.&#xA0;</p>
<p><br></p>
<p><strong>6. Amendment of the Framework Agreement</strong></p>
<p>The Service Provider reserves the right, at any time, to amend the Framework Agreement. Such amendments are made accessible by the Platform to all Sellers prior to their coming into force.</p>
<p>Any Seller may refuse the amendments proposed and must notify the Platform&#x2019;s customer service of the refusal by written notice prior to the amendments coming into force.</p>
<p>In case of a refusal of the amendments by the Seller, this refusal will result in the termination of the Framework Agreement, at no cost, and in the transfer of the money held in the Payment Account to the bank account of the Seller.&#xA0;</p>
<p>If the Seller does not refuse the amendments, the relationship between the Parties shall be governed by the new version of the Framework Agreement.</p>
<p>It is therefore important that the Seller reads his/her e-mails and regularly reads the Framework Agreement available on the Website at any time.</p>
<p><br></p>
<p><strong>7. Security&#xA0;</strong></p>
<p>The Service Provider undertakes to provide its services in compliance with the applicable laws and regulations and standard industry practices. Notably, the Service Provider will make every effort to ensure the security and confidentiality of the Seller&#x2019;s data, in accordance with current regulations in force.</p>
<p>The Service Provider reserves the right to temporarily suspend access to the Account for technical, security or maintenance reasons, without these operations entitling to any compensation. The Service Provider undertakes to limit this type of interruptions to those which are strictly required.</p>
<p>However, the Service Provider shall not be held liable by the Seller for any errors, omissions, interruptions or delays in operations carried out via the Website resulting from unauthorised access to the Website. The Service Provider shall also not be held liable for any theft, loss or unauthorised communication of data resulting from unauthorised access to the Website. Furthermore, the Service Provider remains uninvolved with the legal relationship existing between the Buyer and the Seller. The Service Provider shall not be held liable for any faults, shortcomings or negligence of the Buyer or the Seller towards each other. &#xA0;</p>
<p>The Platform is responsible for the security and confidentiality of data exchanged when using the Website in accordance with the Website&#x2019;s General Terms and Conditions. The Service Provider is responsible for the security and confidentiality of data that it exchanges with the Seller as part of this Framework Agreement for the creation and management of his/her Account, as well as any Payment Transactions associated with the Account.</p>
<p><br></p>
<p><strong>8. Limitation of liability of the Service Provider</strong></p>
<p>The Service Provider shall in no way intervene in legal and business relations or in any disputes between the Seller and the Buyer or between the Seller and the Platform. The Service Provider shall exercise no control over the compliance, safety, legality, characteristics and appropriateness of the products subject to a Payment Transaction.&#xA0;</p>
<p>Any transaction carried out by a Seller gives rise to a contract directly formed between himself and the respective Buyer. Consequently, the Service Provider cannot be held liable for the failure to execute or the substandard execution of the resulting obligations or for any damage caused to the Seller.</p>
<p>Notwithstanding any provision otherwise provided for in the Framework Agreement, the liability of the Service Provider to a Seller is limited to the compensation for direct damages as provided for by the applicable regulations.</p>
<p><br></p>
<p><strong>9. Commitments of the Seller</strong></p>
<p>The Seller guarantees that no element of his/her profile on the Website affects the rights of third parties or is contrary to the law, public order and morality.</p>
<p>The Seller undertakes not to:</p>
<p>(i) Execute the Framework Agreement illegally or under conditions likely to damage, disable, overload or alter the Website;</p>
<p>(ii) Impersonate the identity of another person or entity, falsify or conceal his/her identity or his/her age or create a false identity;</p>
<p>(iii) Disseminate personal data or information relating to a third party, such as postal addresses, telephone numbers, email addresses, bank card numbers etc.</p>
<p>(iv) Without prejudice to legal action taken by third parties, the Service Provider is entitled to personally undertake any legal action intended to repair the damage that it may have personally suffered due to the Seller&#x2019;s failure to respect his/her obligations under this Framework Agreement.</p>
<p>In case of breach of the Seller&#x2019;s obligations, the Service Provider may take any appropriate measures in order to stop the relevant actions. The Service Provider will also be entitled to suspend, remove and/or block the Seller&#x2019;s access to his/her Account.</p>
<p><br></p>
<p><strong>10. Duration and termination&#xA0;</strong></p>
<p>The Framework Agreement is concluded for an indefinite period of time. It shall enter into force from its date of acceptance by the Seller.</p>
<p>The Seller may terminate the Framework Agreement at any time and by complying with a notice period of thirty (30) calendar days. The Service Provider may terminate the Framework Agreement at any time and by complying with a notice period of two (2) months.</p>
<p>Such termination shall also constitute the closure of the Account.</p>
<p>In order to terminate the Framework Agreement, each Party shall transmit a notice of termination to the other Party by registered letter with acknowledgement of receipt or by email. The notice of termination by a Seller shall be send to the postal address of the Service Provider indicated at the beginning of these General Terms and Conditions or to the following email address: legal@mangopay.com.</p>
<p>Following termination of the Service Agreement, the credit balance of the Account will be transferred without undue delay, but in any case not later than 13 months after the termination, to the Seller&#x2019;s bank Account after deduction of the fees due and payable to the Service Provider. After having transferred the respective amount to the bank account of the Seller, the Service Provider has no more obligations towards the Seller.</p>
<p>In case of serious breaches or fraud attributable to the Seller, the Service Provider reserves the right to suspend or terminate the Framework Agreement via email accompanied by a registered letter with acknowledgement of receipt without prior notice.</p>
<p>It is hereby provided that the Framework Agreement will automatically be terminated in the event of new circumstances affecting the ability of a Party to commit to the Framework Agreement.</p>
<p><br></p>
<p><strong>11. Right of withdrawal</strong>&#xA0;</p>
<p>A Seller who is not acting for professional purposes (consumer) has 14 (fourteen) calendar days to exercise his/her right of withdrawal, without having to justify any reason or pay any penalty. This withdrawal period takes effect from the date of the registration as a Seller.&#xA0;</p>
<p>The Seller must notify his/her withdrawal request to the Platform&#x2019;s customer service within the allotted period by telephone or e-mail and send a confirmation letter to the address of the Platform&#x2019;s customer service.&#xA0;</p>
<p>As per his/her right of withdrawal, the Framework Agreement will be terminated at no cost. &#xA0;</p>
<p><br></p>
<p><strong>12. Rules relating to the prevention of money laundering and the financing of terrorism</strong></p>
<p>The Service Provider is subject to all Luxembourg and German regulations relating to the prevention of money laundering and the financing of terrorism.</p>
<p>Pursuant to the provisions of Luxembourg and German law relating to the participation of financial institutions in the prevention of money laundering and the financing of terrorist activity, the Service Provider must obtain information from any Seller about any business transaction or relationship with respect to the origin, purpose and destination of the transaction or opening of the Account. Furthermore, the Service Provider must carry out all due diligence required for identifying the Seller and, if necessary, the beneficial owner of the Account and/or Payment Transactions associated with it.</p>
<p>The Seller acknowledges that the Service Provider may terminate or postpone, at any time, the use of login details, access to an Account or execution of a transaction in the absence of any sufficient information about its purpose or nature. The Seller is hereby informed that a transaction carried out as part of this Framework Agreement may be subject to the national financial intelligence unit&#x2019;s right to disclosure.</p>
<p>The Seller may, in accordance with the applicable regulations, access all information disclosed and relating to the Seller, provided this right of access does not undermine the purpose of the prevention of money laundering and financing of terrorism.</p>
<p>No legal or civil action may be brought nor any professional sanction pronounced against the Service Provider, its mangers or employees who have reported their suspicions in good faith to their national authority.</p>
<p><br></p>
<p><strong>13. Personal data and professional secrecy&#xA0;</strong></p>
<p>Personal data provided by the Seller when opening his/her Account is used by the Service Provider for the purposes of managing his/her Account and Payment Transactions.</p>
<p>The Seller accepts that his/her personal details and information collected by the Service Provider as part of this Framework Agreement may be transmitted to operational providers with whom the Service Provider is in a contractual relationship for the sole purposes of executing Payment Transactions and services, provided that these third-party recipients of personal data are subject to regulations guaranteeing a sufficient level of data protection. The list of third-party recipients of the Seller&#x2019;s data is accessible upon request from the Service Provider&#x2019;s compliance officer at the following email address: legal@mangopay.com. This information is kept by the Service Provider or by any company authorised for this purpose in accordance with legal and regulatory rules.</p>
<p>The Seller will be informed prior to any transfer of his/her personal data outside of the European Union. In such cases, the Service Provider undertakes to respect the regulations in force and implement any necessary measures in order to guarantee the security and confidentiality of the data that has been transferred.</p>
<p>Certain information collected and kept by the Service Provider as part of this Framework Agreement may give rise to the right of access and correction. Any Seller may, at any time, obtain a copy of the information concerning him/her upon request addressed to the Service Provider&#x2019;s customer support service at the following address: legal@mangopay.com. The Seller may request the deletion or correction of this information by letter to the Service Provider&#x2019;s address indicated in the header of this Framework Agreement. He/she may, at any time, object to receiving commercial solicitation by simple declaration to the Service Provider. The Seller shall inform the Service Provider of an amendment of his/her contact details by sending an email or a registered letter with acknowledgement of receipt.</p>
<p>The Service Provider will store personal information and data for the maximum applicable legal or regulatory duration depending on the purpose of each type of data processing.</p>
<p>The conditions for collection, holding and access of personal data collected by the Platform and under its responsibility when accessing the Website are governed according to the terms of the Website&#x2019;s General Terms and Conditions and the terms of the privacy policy accessible on the Website.</p>
<p><br></p>
<p><strong>14. Force majeure</strong></p>
<p>The Parties shall not held liable, or be considered as having failed to honour this Framework Agreement, in the event of delay or non-execution, when the cause is related to a case of force majeure as defined by the jurisprudence of French courts.</p>
<p><br></p>
<p><strong>15. Protection of funds</strong></p>
<p>The Seller&#x2019;s funds are protected against any claims from other creditors of the Service Provider, including enforcement proceedings or insolvency proceedings against the Service Provider.&#xA0;</p>
<p>The Seller&#x2019;s funds are deposited at the end of each Business Day into a bank account opened with a Bank and are ring fenced by it.</p>
<p><br></p>
<p><strong>16. Non-transferability&#xA0;</strong></p>
<p>The Framework Agreement may neither be partly nor wholly transferred by the Seller with or without charge. Therefore, the Seller is prohibited from transferring to a third party any of the rights or obligations that he/she holds hereunder. In the event of breach of this prohibition, in addition to the immediate termination of this Framework Agreement, the Seller may be held liable by the Service Provider.</p>
<p><br></p>
<p><strong>17. Fees</strong></p>
<p>The services offered as part of this Framework Agreement are invoiced by the Platform on behalf of the Service Provider in accordance with the Website&#x2019;s General Terms and Conditions. The pricing specific to each type of offer is specified by Website&#x2019;s General Terms and Conditions.&#xA0;</p>
<p>All fees owed by the Seller are automatically deducted from the Payment Account by the Service Provider in accordance with the Website&#x2019;s General Terms and Conditions.</p>
<p><br></p>
<p><strong>18. Agreement in relation to proof</strong></p>
<p>All data held in a permanent, reliable and secure manner in the computer database of the Service Provider, in particular relating to payment orders and confirmations received by the Seller, notices sent, withdrawal and Payment Transactions, will prevail between the parties until proven otherwise.</p>
<p><br></p>
<p><strong>19. Complaints</strong></p>
<p>The Seller is advised to send any complaint to the customer service indicated on the Website.</p>
<p>Any complaint other than as provided for in Article 5.2 relating to the conclusion, execution or termination of the Framework Agreement shall be notified by registered letter with acknowledgement of receipt to the Service Provider&#x2019;s indicated in the header of this Framework Agreement or by email to the following email address: <a href="mailto:legal@mangopay.com">legal@mangopay.com</a>.</p>
<p>If the Seller believes that the response provided is unsatisfactory, or in the absence of a response within one month after sending the letter or the e-mail to the Service Provider, he/she may refer to the Financial Sector Supervisory Commission by post at 110 route d&#x2019;Arlon L-1150 Luxembourg or by email to: direction@cssf.lu.</p>
<p><br></p>
<p><strong>20. Applicable law and competent jurisdiction&#xA0;</strong></p>
<p>Except in case of the application of public order law (which will only apply within the strict limits of its purpose), it is expressly stipulated that the Framework Agreement is subject to French law and that any dispute between the Parties under the Framework Agreement will be subject to the jurisdiction of competent French courts. Mandatory consumer protection rights remain unaffected by this provision.</p>
<p><br></p>
<p><strong>21. Severability clause</strong></p>
<p>If any of the provisions of this Framework Agreement are considered invalid or unenforceable, they shall be deemed unwritten and shall not affect or invalidate the remaining provisions.</p>
<p>If one or more provisions of this Framework Agreement become obsolete or are declared as such by a law, a regulation or following a final ruling made by a competent jurisdiction, the other provisions shall retain their binding force and scope. Provisions declared null and void shall be replaced by provisions closest in meaning and scope to those initially agreed.<strong><br>
<br>
</strong></p></div>



        </div>
        <section class="aboutcontent">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12">

                        <div class="about_text">

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>






    <% end %>