.change_pwd {
	color: rgba(255, 255, 255, 0.65);
	.main_heading {
		@include margin-bottom(28);
		h2 {
			@include fontsize(18);
			i,span {
				@extend .ver_midle;
			}
			i {
				color: $pink;
				@include margin-right(9);
				@include fontsize(22);
			}
		}
	}
	.contentouter {
		@extend .ver_midle;
	    background: rgba(40, 46, 73, 0.45);
	    @include padding(40 50 70);
	    @include border-round(5);
	    @include margin-bottom(80);
	    width: 100%;
	    h5 {
			@include fontsize(16);
			text-transform: capitalize;
			@include margin(50 0 44);
			color: $white;
		}
	    .field_outer {
	    	input[type="submit"] {
	    		margin: 60px 0 0 !important;
	    	}
	    	&.uploadimg {
				label {
					@extend .ver_midle;
					@include margin(0);
					position: relative;
					@include border(2, solid, rgba(255, 255, 255, 0.7));
					@include border-round(50);
					@include padding(22 70);
					color: rgba(255, 255, 255, 0.7);
					font-weight: 400;
					width: 66%;
					input {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						@include padding(0);
						@include margin(0);
						visibility: hidden;
					}
				}
				span {
					display: inline-block;
				    vertical-align: bottom;
				    @include margin-left(8);
				    color: rgba(255, 255, 255, 0.7);
				    @include fontsize(14);
				}
			}
			&.uploaded_images {
				.imgbox {
					@extend .ver_midle;
					@include margin(11);
				    @include border(1, solid, rgba(255, 255, 255, 0.2));
				    background: rgba(255, 255, 255, 0.3);
				    @include width(63);
				    @include height(63);
				    position: relative;
				    text-align: center;
				    img {
				    	width: 100%;
				    	@include h_auto;
				    }
				    a {
				    	position: absolute;
					    content: "\f00d";
					    font-family: fontawesome;
					    @include height(25);
					    @include width(25);
					    background: rgba(255, 255, 255, 0.75);
					    top: -13px;
					    right: -12px;
					    @include circle;
					    @include border(4, solid, #222434);
					    color: #222434;
					    @include fontsize(12);
					    @include padding-top(1);
				    }
				}
			}
	    }
	}
}