/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
.button {
  color: #666;
  background-color: #EEE;
  border-color: #EEE;
  font-weight: 500;
  font-size: 16px;
  font-family: "Hind", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 46px;
  height: 46px;
  padding: 0 23px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .3s; }
  .button:visited {
    color: #666; }
  .button:hover, .button:focus {
    background-color: #f6f6f6;
    text-decoration: none;
    outline: none; }
  .button:active, .button.active, .button.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    transition-duration: 0s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }
  .button.disabled, .button.is-disabled, .button:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px white !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important;
    box-shadow: none !important;
    opacity: .8 !important; }

.button-uppercase {
  text-transform: uppercase; }

.button-lowercase {
  text-transform: lowercase; }

.button-capitalize {
  text-transform: capitalize; }

.button-small-caps {
  font-variant: small-caps; }

.button-icon-txt-large {
  font-size: 36px !important; }

.button-font-large {
  font-size: 34px !important; }

.button-font-small {
  font-size: 14px !important; }

.button-font-base {
  font-size: 16px !important; }

.button-font-medium {
  font-size: 18px !important; }

.button-width-small {
  padding: 0 10px !important; }

.button-width-medium {
  padding: 0 20px !important; }

.button-min-width {
  min-width: 180px; }

.button-pulse:hover, .button-pulse:focus {
  -webkit-animation: pulse 0.7s;
  -moz-animation: pulse 0.7s;
  -ms-animation: pulse 0.7s;
  -o-animation: pulse 0.7s;
  animation: pulse 0.7s; }

.button-primary,
.button-primary-flat {
  background-color: #0170bb;
  border-color: #0170bb;
  color: #FFF; }
  .button-primary:visited,
  .button-primary-flat:visited {
    color: #FFF; }
  .button-primary:hover, .button-primary:focus,
  .button-primary-flat:hover,
  .button-primary-flat:focus {
    background-color: #018eee;
    border-color: #018eee;
    color: #FFF; }
  .button-primary:active, .button-primary.active, .button-primary.is-active,
  .button-primary-flat:active,
  .button-primary-flat.active,
  .button-primary-flat.is-active {
    background-color: #0a6eb2;
    border-color: #0a6eb2;
    color: #015288; }

.button-action,
.button-action-flat {
  background-color: #39b449;
  border-color: #39b449;
  color: #fff; }
  .button-action:visited,
  .button-action-flat:visited {
    color: #fff; }
  .button-action:hover, .button-action:focus,
  .button-action-flat:hover,
  .button-action-flat:focus {
    background-color: #56ca65;
    border-color: #56ca65;
    color: #fff; }
  .button-action:active, .button-action.active, .button-action.is-active,
  .button-action-flat:active,
  .button-action-flat.active,
  .button-action-flat.is-active {
    background-color: #45a852;
    border-color: #45a852;
    color: #2d8d39; }

.button-fade,
.button-fade-flat {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000; }
  .button-fade:visited,
  .button-fade-flat:visited {
    color: #000; }
  .button-fade:hover, .button-fade:focus,
  .button-fade-flat:hover,
  .button-fade-flat:focus {
    background-color: white;
    border-color: white;
    color: #000; }
  .button-fade:active, .button-fade.active, .button-fade.is-active,
  .button-fade-flat:active,
  .button-fade-flat.active,
  .button-fade-flat.is-active {
    background-color: white;
    border-color: white;
    color: #e6e6e6; }

.button-default,
.button-default-flat {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #000; }
  .button-default:visited,
  .button-default-flat:visited {
    color: #000; }
  .button-default:hover, .button-default:focus,
  .button-default-flat:hover,
  .button-default-flat:focus {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    color: #000; }
  .button-default:active, .button-default.active, .button-default.is-active,
  .button-default-flat:active,
  .button-default-flat.active,
  .button-default-flat.is-active {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #c4c4c4; }

.button-danger,
.button-danger-flat {
  background-color: #ff6434;
  border-color: #ff6434;
  color: #fff; }
  .button-danger:visited,
  .button-danger-flat:visited {
    color: #fff; }
  .button-danger:hover, .button-danger:focus,
  .button-danger-flat:hover,
  .button-danger-flat:focus {
    background-color: #ff8b67;
    border-color: #ff8b67;
    color: #fff; }
  .button-danger:active, .button-danger.active, .button-danger.is-active,
  .button-danger-flat:active,
  .button-danger-flat.active,
  .button-danger-flat.is-active {
    background-color: #f5693e;
    border-color: #f5693e;
    color: #ff3d01; }

.button-gray,
.button-gray-flat {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #777777; }
  .button-gray:visited,
  .button-gray-flat:visited {
    color: #777777; }
  .button-gray:hover, .button-gray:focus,
  .button-gray-flat:hover,
  .button-gray-flat:focus {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #777777; }
  .button-gray:active, .button-gray.active, .button-gray.is-active,
  .button-gray-flat:active,
  .button-gray-flat.active,
  .button-gray-flat.is-active {
    background-color: #cccccc;
    border-color: #cccccc;
    color: #b3b3b3; }

.button-inverse,
.button-inverse-flat {
  background-color: #626e7b;
  border-color: #626e7b;
  color: #ffffff; }
  .button-inverse:visited,
  .button-inverse-flat:visited {
    color: #ffffff; }
  .button-inverse:hover, .button-inverse:focus,
  .button-inverse-flat:hover,
  .button-inverse-flat:focus {
    background-color: #7b8795;
    border-color: #7b8795;
    color: #ffffff; }
  .button-inverse:active, .button-inverse.active, .button-inverse.is-active,
  .button-inverse-flat:active,
  .button-inverse-flat.active,
  .button-inverse-flat.is-active {
    background-color: #6d6e70;
    border-color: #6d6e70;
    color: #4b555f; }

.button-block,
.button-stacked {
  display: block;
  width: 100%; }

/*
* Button Shapes
*
* This file creates the various button shapes
* (ex. Circle, Rounded, Pill)
*/
.button-square {
  border-radius: 0; }

.button-box {
  border-radius: 0; }

.button-rounded {
  border-radius: 3px; }

.button-pill {
  border-radius: 200px; }

.button-circle {
  border-radius: 100%; }

/*
* Size Adjustment for equal height & widht buttons
*
* Remove padding and set a fixed width.
*/
.button-circle,
.button-box,
.button-square {
  padding: 0 !important;
  width: 46px; }
  .button-circle.button-giant,
  .button-box.button-giant,
  .button-square.button-giant {
    width: 80.5px; }
  .button-circle.button-jumbo,
  .button-box.button-jumbo,
  .button-square.button-jumbo {
    width: 69px; }
  .button-circle.button-large,
  .button-box.button-large,
  .button-square.button-large {
    width: 57.5px; }
  .button-circle.button-normal,
  .button-box.button-normal,
  .button-square.button-normal {
    width: 46px; }
  .button-circle.button-small,
  .button-box.button-small,
  .button-square.button-small {
    width: 34.5px; }
  .button-circle.button-tiny,
  .button-box.button-tiny,
  .button-square.button-tiny {
    width: 27.6px; }

.button-border, .button-border-thin, .button-border-thick {
  background: none;
  border-width: 2px;
  border-style: solid;
  line-height: 42px; }
  .button-border:hover, .button-border-thin:hover, .button-border-thick:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .button-border:active, .button-border-thin:active, .button-border-thick:active, .button-border.active, .active.button-border-thin, .active.button-border-thick, .button-border.is-active, .is-active.button-border-thin, .is-active.button-border-thick {
    box-shadow: none;
    text-shadow: none;
    transition-property: all;
    transition-duration: .3s; }

.button-border-thin {
  border-width: 1px;
  line-height: 44px; }

.button-border-thick {
  border-width: 3px; }

.button-border, .button-border-thin, .button-border-thick,
.button-border-thin,
.button-border-thick {
  /*
  * Border Button Size Adjustment
  *
  * The line-height must be adjusted to compinsate for
  * the width of the border.
  */ }
  .button-border.button-primary, .button-primary.button-border-thin, .button-primary.button-border-thick,
  .button-border-thin.button-primary,
  .button-border-thick.button-primary {
    color: #0170bb; }
    .button-border.button-primary:hover, .button-primary.button-border-thin:hover, .button-primary.button-border-thick:hover, .button-border.button-primary:focus, .button-primary.button-border-thin:focus, .button-primary.button-border-thick:focus,
    .button-border-thin.button-primary:hover,
    .button-border-thin.button-primary:focus,
    .button-border-thick.button-primary:hover,
    .button-border-thick.button-primary:focus {
      background-color: rgba(1, 142, 238, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .button-border.button-primary:active, .button-primary.button-border-thin:active, .button-primary.button-border-thick:active, .button-border.button-primary.active, .button-primary.active.button-border-thin, .button-primary.active.button-border-thick, .button-border.button-primary.is-active, .button-primary.is-active.button-border-thin, .button-primary.is-active.button-border-thick,
    .button-border-thin.button-primary:active,
    .button-border-thin.button-primary.active,
    .button-border-thin.button-primary.is-active,
    .button-border-thick.button-primary:active,
    .button-border-thick.button-primary.active,
    .button-border-thick.button-primary.is-active {
      background-color: rgba(10, 110, 178, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .button-border.button-action, .button-action.button-border-thin, .button-action.button-border-thick,
  .button-border-thin.button-action,
  .button-border-thick.button-action {
    color: #39b449; }
    .button-border.button-action:hover, .button-action.button-border-thin:hover, .button-action.button-border-thick:hover, .button-border.button-action:focus, .button-action.button-border-thin:focus, .button-action.button-border-thick:focus,
    .button-border-thin.button-action:hover,
    .button-border-thin.button-action:focus,
    .button-border-thick.button-action:hover,
    .button-border-thick.button-action:focus {
      background-color: rgba(86, 202, 101, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .button-border.button-action:active, .button-action.button-border-thin:active, .button-action.button-border-thick:active, .button-border.button-action.active, .button-action.active.button-border-thin, .button-action.active.button-border-thick, .button-border.button-action.is-active, .button-action.is-active.button-border-thin, .button-action.is-active.button-border-thick,
    .button-border-thin.button-action:active,
    .button-border-thin.button-action.active,
    .button-border-thin.button-action.is-active,
    .button-border-thick.button-action:active,
    .button-border-thick.button-action.active,
    .button-border-thick.button-action.is-active {
      background-color: rgba(69, 168, 82, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .button-border.button-fade, .button-fade.button-border-thin, .button-fade.button-border-thick,
  .button-border-thin.button-fade,
  .button-border-thick.button-fade {
    color: #ffffff; }
    .button-border.button-fade:hover, .button-fade.button-border-thin:hover, .button-fade.button-border-thick:hover, .button-border.button-fade:focus, .button-fade.button-border-thin:focus, .button-fade.button-border-thick:focus,
    .button-border-thin.button-fade:hover,
    .button-border-thin.button-fade:focus,
    .button-border-thick.button-fade:hover,
    .button-border-thick.button-fade:focus {
      background-color: rgba(255, 255, 255, 0.9);
      color: rgba(0, 0, 0, 0.9); }
    .button-border.button-fade:active, .button-fade.button-border-thin:active, .button-fade.button-border-thick:active, .button-border.button-fade.active, .button-fade.active.button-border-thin, .button-fade.active.button-border-thick, .button-border.button-fade.is-active, .button-fade.is-active.button-border-thin, .button-fade.is-active.button-border-thick,
    .button-border-thin.button-fade:active,
    .button-border-thin.button-fade.active,
    .button-border-thin.button-fade.is-active,
    .button-border-thick.button-fade:active,
    .button-border-thick.button-fade.active,
    .button-border-thick.button-fade.is-active {
      background-color: rgba(255, 255, 255, 0.7);
      color: rgba(0, 0, 0, 0.5);
      opacity: .3; }
  .button-border.button-default, .button-default.button-border-thin, .button-default.button-border-thick,
  .button-border-thin.button-default,
  .button-border-thick.button-default {
    color: #dddddd; }
    .button-border.button-default:hover, .button-default.button-border-thin:hover, .button-default.button-border-thick:hover, .button-border.button-default:focus, .button-default.button-border-thin:focus, .button-default.button-border-thick:focus,
    .button-border-thin.button-default:hover,
    .button-border-thin.button-default:focus,
    .button-border-thick.button-default:hover,
    .button-border-thick.button-default:focus {
      background-color: rgba(247, 247, 247, 0.9);
      color: rgba(0, 0, 0, 0.9); }
    .button-border.button-default:active, .button-default.button-border-thin:active, .button-default.button-border-thick:active, .button-border.button-default.active, .button-default.active.button-border-thin, .button-default.active.button-border-thick, .button-border.button-default.is-active, .button-default.is-active.button-border-thin, .button-default.is-active.button-border-thick,
    .button-border-thin.button-default:active,
    .button-border-thin.button-default.active,
    .button-border-thin.button-default.is-active,
    .button-border-thick.button-default:active,
    .button-border-thick.button-default.active,
    .button-border-thick.button-default.is-active {
      background-color: rgba(221, 221, 221, 0.7);
      color: rgba(0, 0, 0, 0.5);
      opacity: .3; }
  .button-border.button-danger, .button-danger.button-border-thin, .button-danger.button-border-thick,
  .button-border-thin.button-danger,
  .button-border-thick.button-danger {
    color: #ff6434; }
    .button-border.button-danger:hover, .button-danger.button-border-thin:hover, .button-danger.button-border-thick:hover, .button-border.button-danger:focus, .button-danger.button-border-thin:focus, .button-danger.button-border-thick:focus,
    .button-border-thin.button-danger:hover,
    .button-border-thin.button-danger:focus,
    .button-border-thick.button-danger:hover,
    .button-border-thick.button-danger:focus {
      background-color: rgba(255, 139, 103, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .button-border.button-danger:active, .button-danger.button-border-thin:active, .button-danger.button-border-thick:active, .button-border.button-danger.active, .button-danger.active.button-border-thin, .button-danger.active.button-border-thick, .button-border.button-danger.is-active, .button-danger.is-active.button-border-thin, .button-danger.is-active.button-border-thick,
    .button-border-thin.button-danger:active,
    .button-border-thin.button-danger.active,
    .button-border-thin.button-danger.is-active,
    .button-border-thick.button-danger:active,
    .button-border-thick.button-danger.active,
    .button-border-thick.button-danger.is-active {
      background-color: rgba(245, 105, 62, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .button-border.button-gray, .button-gray.button-border-thin, .button-gray.button-border-thick,
  .button-border-thin.button-gray,
  .button-border-thick.button-gray {
    color: #cccccc; }
    .button-border.button-gray:hover, .button-gray.button-border-thin:hover, .button-gray.button-border-thick:hover, .button-border.button-gray:focus, .button-gray.button-border-thin:focus, .button-gray.button-border-thick:focus,
    .button-border-thin.button-gray:hover,
    .button-border-thin.button-gray:focus,
    .button-border-thick.button-gray:hover,
    .button-border-thick.button-gray:focus {
      background-color: rgba(230, 230, 230, 0.9);
      color: rgba(119, 119, 119, 0.9); }
    .button-border.button-gray:active, .button-gray.button-border-thin:active, .button-gray.button-border-thick:active, .button-border.button-gray.active, .button-gray.active.button-border-thin, .button-gray.active.button-border-thick, .button-border.button-gray.is-active, .button-gray.is-active.button-border-thin, .button-gray.is-active.button-border-thick,
    .button-border-thin.button-gray:active,
    .button-border-thin.button-gray.active,
    .button-border-thin.button-gray.is-active,
    .button-border-thick.button-gray:active,
    .button-border-thick.button-gray.active,
    .button-border-thick.button-gray.is-active {
      background-color: rgba(204, 204, 204, 0.7);
      color: rgba(119, 119, 119, 0.5);
      opacity: .3; }
  .button-border.button-inverse, .button-inverse.button-border-thin, .button-inverse.button-border-thick,
  .button-border-thin.button-inverse,
  .button-border-thick.button-inverse {
    color: #626e7b; }
    .button-border.button-inverse:hover, .button-inverse.button-border-thin:hover, .button-inverse.button-border-thick:hover, .button-border.button-inverse:focus, .button-inverse.button-border-thin:focus, .button-inverse.button-border-thick:focus,
    .button-border-thin.button-inverse:hover,
    .button-border-thin.button-inverse:focus,
    .button-border-thick.button-inverse:hover,
    .button-border-thick.button-inverse:focus {
      background-color: rgba(123, 135, 149, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .button-border.button-inverse:active, .button-inverse.button-border-thin:active, .button-inverse.button-border-thick:active, .button-border.button-inverse.active, .button-inverse.active.button-border-thin, .button-inverse.active.button-border-thick, .button-border.button-inverse.is-active, .button-inverse.is-active.button-border-thin, .button-inverse.is-active.button-border-thick,
    .button-border-thin.button-inverse:active,
    .button-border-thin.button-inverse.active,
    .button-border-thin.button-inverse.is-active,
    .button-border-thick.button-inverse:active,
    .button-border-thick.button-inverse.active,
    .button-border-thick.button-inverse.is-active {
      background-color: rgba(109, 110, 112, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .button-border.button-giant, .button-giant.button-border-thin, .button-giant.button-border-thick,
  .button-border-thin.button-giant,
  .button-border-thick.button-giant {
    line-height: 76.5px; }
  .button-border.button-jumbo, .button-jumbo.button-border-thin, .button-jumbo.button-border-thick,
  .button-border-thin.button-jumbo,
  .button-border-thick.button-jumbo {
    line-height: 65px; }
  .button-border.button-large, .button-large.button-border-thin, .button-large.button-border-thick,
  .button-border-thin.button-large,
  .button-border-thick.button-large {
    line-height: 53.5px; }
  .button-border.button-normal, .button-normal.button-border-thin, .button-normal.button-border-thick,
  .button-border-thin.button-normal,
  .button-border-thick.button-normal {
    line-height: 42px; }
  .button-border.button-small, .button-small.button-border-thin, .button-small.button-border-thick,
  .button-border-thin.button-small,
  .button-border-thick.button-small {
    line-height: 30.5px; }
  .button-border.button-tiny, .button-tiny.button-border-thin, .button-tiny.button-border-thick,
  .button-border-thin.button-tiny,
  .button-border-thick.button-tiny {
    line-height: 23.6px; }

/*
* Border Buttons
*
* These buttons have no fill they only have a
* border to define their hit target.
*/
.button-borderless {
  background: none;
  border: none;
  padding: 0 8px !important;
  color: #EEE;
  font-size: 20.8px;
  font-weight: 200;
  /*
  * Borderless Button Colors
  *
  * Create colors for buttons
  * (.button-primary, .button-secondary, etc.)
  */
  /*
  * Borderles Size Adjustment
  *
  * The font-size must be large to compinsate for
  * the lack of a hit target.
  */ }
  .button-borderless:hover, .button-borderless:focus {
    background: none; }
  .button-borderless:active, .button-borderless.active, .button-borderless.is-active {
    box-shadow: none;
    text-shadow: none;
    transition-property: all;
    transition-duration: .3s;
    opacity: .3; }
  .button-borderless.button-primary {
    color: #0170bb; }
  .button-borderless.button-action {
    color: #39b449; }
  .button-borderless.button-fade {
    color: #ffffff; }
  .button-borderless.button-default {
    color: #dddddd; }
  .button-borderless.button-danger {
    color: #ff6434; }
  .button-borderless.button-gray {
    color: #cccccc; }
  .button-borderless.button-inverse {
    color: #626e7b; }
  .button-borderless.button-giant {
    font-size: 36.4px;
    height: 52.4px;
    line-height: 52.4px; }
  .button-borderless.button-jumbo {
    font-size: 31.2px;
    height: 47.2px;
    line-height: 47.2px; }
  .button-borderless.button-large {
    font-size: 26px;
    height: 42px;
    line-height: 42px; }
  .button-borderless.button-normal {
    font-size: 20.8px;
    height: 36.8px;
    line-height: 36.8px; }
  .button-borderless.button-small {
    font-size: 15.6px;
    height: 31.6px;
    line-height: 31.6px; }
  .button-borderless.button-tiny {
    font-size: 12.48px;
    height: 28.48px;
    line-height: 28.48px; }

/*
* Buton Groups
*
* A group of related buttons
* displayed edge to edge
*/
.button-group {
  position: relative;
  display: inline-block; }
  .button-group:after {
    content: " ";
    display: block;
    clear: both; }
  .button-group .button,
  .button-group .button-dropdown {
    float: left; }
    .button-group .button:not(:first-child):not(:last-child),
    .button-group .button-dropdown:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-right: none; }
    .button-group .button:first-child,
    .button-group .button-dropdown:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none; }
    .button-group .button:last-child,
    .button-group .button-dropdown:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

/*
* Button Sizes
*
* This file creates the various button sizes
* (ex. .button-large, .button-small, etc.)
*/
.button-giant {
  font-size: 28px;
  height: 80.5px;
  line-height: 80.5px;
  padding: 0 80.5px; }

.button-jumbo {
  font-size: 24px;
  height: 69px;
  line-height: 69px;
  padding: 0 69px; }

.button-large {
  font-size: 20px;
  height: 57.5px;
  line-height: 57.5px;
  padding: 0 57.5px; }

.button-normal {
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  padding: 0 46px; }

.button-small {
  font-size: 12px;
  height: 34.5px;
  line-height: 34.5px;
  padding: 0 34.5px; }

.button-tiny {
  font-size: 9.6px;
  height: 27.6px;
  line-height: 27.6px;
  padding: 0 27.6px; }

/*# sourceMappingURL=button.css.map */
