/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
@media (max-width: 1199px) {
  .regWarpper .regShape .buttonWarp {
    max-width: 970px;
    max-width: 57.05882rem; } }
@media (max-width: 991px) {
  #header {
    padding: 10px 0px; }
    #header .nav-header {
      width: 100%; }
      #header .nav-header .nav-brand img {
        max-height: 40px;
        max-height: 2.35294rem; }
      #header .nav-header .toggleMenuButton {
        display: block; }
    #header .nav-collapsed {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -220px;
      width: 220px;
      width: 12.94118rem;
      background-color: #545454;
      -webkit-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3) inset;
      -moz-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3) inset;
      box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3) inset;
      overflow: auto;
      padding: 20px 0px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      z-index: 1000;
      text-align: center; }
      #header .nav-collapsed .logo-white {
        display: inline-block;
        max-width: 100px;
        max-width: 5.88235rem;
        margin-bottom: 30px; }
      #header .nav-collapsed nav {
        float: none; }
        #header .nav-collapsed nav ul li {
          margin: 0px;
          float: none; }
          #header .nav-collapsed nav ul li a {
            color: #ffffff;
            padding: 0px 20px;
            text-align: center;
            font-size: 16px;
            font-size: 0.94118rem;
            line-height: 40px; }
            #header .nav-collapsed nav ul li a:after, #header .nav-collapsed nav ul li a:before {
              display: none; }
            #header .nav-collapsed nav ul li a.active {
              background-color: #39b449;
              color: #ffffff; }
            #header .nav-collapsed nav ul li a.button-action {
              max-width: 170px;
              max-width: 10rem;
              margin: 10px auto 0; }

  .headerSpacer {
    min-height: 60px;
    min-height: 3.52941rem; }

  #footer ul li {
    margin: 10px 15px; }
    #footer ul li a {
      font-size: 15px;
      font-size: 0.88235rem; }

  .regWarpper {
    padding-top: 90px; }
    .regWarpper .regShape svg {
      display: none; }
    .regWarpper .regShape .svg1, .regWarpper .regShape .svg2 {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transform-origin: bottom left;
      -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      -o-transform-origin: bottom left;
      transform-origin: bottom left;
      -webkit-transition: all 0.8s ease-out;
      -moz-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out;
      z-index: 1; }
    .regWarpper .regShape .svg1 {
      background-color: #ffffff; }
    .regWarpper .regShape .svg2 {
      background-color: #0170bb; }
    .regWarpper .regShape.regShape1 .svg1 {
      -webkit-transform: skew(0) rotate(0) translate(0);
      -moz-transform: skew(0) rotate(0) translate(0);
      -ms-transform: skew(0) rotate(0) translate(0);
      -o-transform: skew(0) rotate(0) translate(0);
      transform: skew(0) rotate(0) translate(0); }
    .regWarpper .regShape.regShape1 .svg2 {
      -webkit-transform: skew(-79deg) rotate(0) translate(0);
      -moz-transform: skew(-79deg) rotate(0) translate(0);
      -ms-transform: skew(-79deg) rotate(0) translate(0);
      -o-transform: skew(-79deg) rotate(0) translate(0);
      transform: skew(-79deg) rotate(0) translate(0);
      -webkit-transition-delay: 0.7s;
      -moz-transition-delay: 0.7s;
      -o-transition-delay: 0.7s;
      transition-delay: 0.7s; }
    .regWarpper .regShape.regShape2 .svg1 {
      -webkit-transform: skew(-79deg) rotate(0) translate(0);
      -moz-transform: skew(-79deg) rotate(0) translate(0);
      -ms-transform: skew(-79deg) rotate(0) translate(0);
      -o-transform: skew(-79deg) rotate(0) translate(0);
      transform: skew(-79deg) rotate(0) translate(0);
      -webkit-transition-delay: 0.7s;
      -moz-transition-delay: 0.7s;
      -o-transition-delay: 0.7s;
      transition-delay: 0.7s; }
    .regWarpper .regShape.regShape2 .svg2 {
      -webkit-transform: skew(0) rotate(0) translate(0);
      -moz-transform: skew(0) rotate(0) translate(0);
      -ms-transform: skew(0) rotate(0) translate(0);
      -o-transform: skew(0) rotate(0) translate(0);
      transform: skew(0) rotate(0) translate(0); }
    .regWarpper .regShape .buttonWarp {
      max-width: 750px;
      max-width: 44.11765rem; }
    .regWarpper.regWarpper1 .regShape .svg2 {
      background-color: #39b449; }

  .modalWarpper .modal-dialog {
    width: inherit;
    width: auto;
    margin: 30px 10px; }
    .modalWarpper .modal-dialog .modal-header {
      padding: 20px 15px;
      padding-right: 60px; }
      .modalWarpper .modal-dialog .modal-header .close {
        top: 50%;
        right: 15px;
        width: 30px;
        height: 30px;
        font-size: 13px;
        font-size: 0.76471rem;
        margin-top: -15px; }
    .modalWarpper .modal-dialog .modal-body {
      padding: 20px 15px; } }
@media (max-width: 767px) {
  #footer {
    padding-top: 45px; }
    #footer .logo {
      margin-bottom: 15px;
      max-width: 120px;
      max-width: 7.05882rem; }
    #footer ul li {
      display: block;
      margin: 10px 0px; }
    #footer .__copy {
      font-size: 12px;
      font-size: 0.70588rem;
      margin-top: 15px;
      padding: 10px 15px; }

  .regWarpper .regShape.regShape1 .svg2 {
    -webkit-transform: skew(-73deg) rotate(0) translate(0);
    -moz-transform: skew(-73deg) rotate(0) translate(0);
    -ms-transform: skew(-73deg) rotate(0) translate(0);
    -o-transform: skew(-73deg) rotate(0) translate(0);
    transform: skew(-73deg) rotate(0) translate(0); }
  .regWarpper .regShape.regShape2 .svg1 {
    -webkit-transform: skew(-73deg) rotate(0) translate(0);
    -moz-transform: skew(-73deg) rotate(0) translate(0);
    -ms-transform: skew(-73deg) rotate(0) translate(0);
    -o-transform: skew(-73deg) rotate(0) translate(0);
    transform: skew(-73deg) rotate(0) translate(0); }

  .mainSection {
    position: relative;
    padding-left: 0px; }
    .mainSection #aside {
      min-height: inherit;
      min-height: auto;
      max-height: 60px;
      max-height: 3.52941rem;
      overflow: hidden;
      width: 100%;
      position: absolute;
      height: 100%; }
      .mainSection #aside.opened {
        max-height: 730px;
        max-height: 42.94118rem;
        -webkit-transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s; }
      .mainSection #aside .collapesToggle {
        border-right: 3px solid whitesmoke;
        position: relative;
        z-index: 51; }
      .mainSection #aside nav {
        width: 240px;
        width: 14.11765rem; }
    .mainSection .header {
      width: 100%;
      padding: 0px 10px 0px 80px; }
    .mainSection .mainContent {
      width: 100%; } }
@media (max-width: 380px) {
  .regWarpper .regShape.regShape1 .svg2 {
    -webkit-transform: skew(-68deg) rotate(0) translate(0);
    -moz-transform: skew(-68deg) rotate(0) translate(0);
    -ms-transform: skew(-68deg) rotate(0) translate(0);
    -o-transform: skew(-68deg) rotate(0) translate(0);
    transform: skew(-68deg) rotate(0) translate(0); }
  .regWarpper .regShape.regShape2 .svg1 {
    -webkit-transform: skew(-68deg) rotate(0) translate(0);
    -moz-transform: skew(-68deg) rotate(0) translate(0);
    -ms-transform: skew(-68deg) rotate(0) translate(0);
    -o-transform: skew(-68deg) rotate(0) translate(0);
    transform: skew(-68deg) rotate(0) translate(0); } }
@media only screen and (max-height: 700px) {
  .heroWarpper .heroWarpInner .logo {
    top: 20px;
    padding: 15px 10px; }
  .heroWarpper .heroWarpInner h3 {
    bottom: 20px; } }
@media (max-width: 991px) {
  .hWarpper1, .hWarpper2 {
    padding: 40px 0px;
    text-align: center; }
    .hWarpper1 .Title:before, .hWarpper2 .Title:before {
      left: 0;
      right: 0;
      margin: auto auto; }
    .hWarpper1 .__video, .hWarpper2 .__video {
      margin-top: 20px; }
    .hWarpper1 p, .hWarpper2 p {
      font-size: 16px;
      font-size: 0.94118rem; }

  .hWarpper2 .Title, .hWarpper2 p {
    text-align: center; }

  .hWarpper3 {
    padding: 40px 0px; } }
@media (max-width: 767px) {
  .heroWarpper .heroWarpInner .logo {
    position: relative;
    top: 0;
    width: 100%;
    display: block;
    padding: 15px 15px; }
    .heroWarpper .heroWarpInner .logo img {
      width: 110px;
      width: 6.47059rem; }
  .heroWarpper .heroWarpInner h3 {
    display: none; }
  .heroWarpper .heroBanner {
    height: inherit !important;
    height: auto !important; }
  .heroWarpper .cell {
    display: block;
    width: inherit;
    width: auto; }
    .heroWarpper .cell i {
      font-size: 50px;
      font-size: 2.94118rem;
      display: inline;
      line-height: 1; }
    .heroWarpper .cell h2 {
      font-size: 32px;
      font-size: 1.88235rem;
      margin: 0px; }
  .heroWarpper .heroInfo h4 {
    font-size: 20px;
    font-size: 1.17647rem; }
    .heroWarpper .heroInfo h4 span {
      padding: 0px 10px; }

  .hWarpper3 .__testimonialUser .slickSyncNav {
    position: relative; }
  .hWarpper3 .__testimonialUser .slick-arrow {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .hWarpper3 .slickSyncFor p {
    font-size: 18px;
    font-size: 1.05882rem;
    line-height: 1.6; }

  .mapSection .map:before {
    padding-top: 30%; }
  .mapSection .directionBtn {
    width: 55px;
    height: 55px;
    font-size: 25px;
    font-size: 1.47059rem;
    line-height: 55px;
    margin-bottom: -33px; } }
@media (max-width: 991px) {
  .findStorageWarpper .findStorageInner {
    padding-right: 0px; }
    .findStorageWarpper .findStorageInner .cell {
      display: block; }
      .findStorageWarpper .findStorageInner .cell:last-child {
        width: inherit;
        width: auto;
        padding: 15px; }
      .findStorageWarpper .findStorageInner .cell #map {
        position: relative;
        position: relative; }
        .findStorageWarpper .findStorageInner .cell #map:before {
          content: "";
          padding-bottom: 56.25%;
          position: relative;
          display: block; }
        .findStorageWarpper .findStorageInner .cell #map iframe {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto auto; } }
@media (max-width: 600px) {
  .wDetailModal .reviewBlk .__reviewField {
    padding-right: 0px; }
    .wDetailModal .reviewBlk .__reviewField .postReviewBtn {
      position: relative;
      width: 100%;
      height: 50px;
      font-size: 24px;
      font-size: 1.41176rem; } }
@media (max-width: 500px) {
  .wDetailModal .sliderBlock .slickSyncThumbs {
    position: relative;
    margin-top: 10px; }
    .wDetailModal .sliderBlock .slickSyncThumbs li {
      padding: 0px; } }
@media (max-width: 991px) {
  .sStorageWarp .resultWarp .cell {
    display: block; }
    .sStorageWarp .resultWarp .cell:first-child {
      width: inherit;
      width: auto;
      padding: 10px 10px 0px; }
    .sStorageWarp .resultWarp .cell.button-cell {
      width: inherit;
      width: auto;
      text-align: center;
      border-left: none;
      border-top: 1px solid #ededed; }
  .sStorageWarp .resultWarp .slickSingle {
    margin: auto auto; }
  .sStorageWarp .resultWarp .__content {
    text-align: center; } }
@media (max-width: 767px) {
  .sStorageWarp .resultWarp {
    display: block; }
    .sStorageWarp .resultWarp .slickSingle {
      max-width: 275px;
      max-width: 16.17647rem;
      width: 100%; } }
@media (max-width: 499px) {
  .sStorageWarp .head .__viewMap {
    float: none;
    display: inline-block;
    margin-top: 15px; } }
@media (max-width: 620px) {
  .quotesWarpper .quoteWarp .__findBy .__searchByName, .quotesWarpper .quoteWarp .__findBy .__searchByDate {
    float: none; }
    .quotesWarpper .quoteWarp .__findBy .__searchByName label, .quotesWarpper .quoteWarp .__findBy .__searchByDate label {
      display: block; }
  .quotesWarpper .quoteWarp .__findBy .__searchByName .form-control {
    width: 100%; }
  .quotesWarpper .quoteWarp .__findBy .__searchByName .form-control {
    width: 100%; }
  .quotesWarpper .quoteWarp .__findBy .__searchByDate .__dateRang {
    display: block;
    max-width: inherit;
    max-width: auto; }
    .quotesWarpper .quoteWarp .__findBy .__searchByDate .__dateRang .form-control {
      width: 100%; } }
@media (max-width: 991px) {
  .bookingFormWarp .bCateBlk ul:after {
    content: "";
    display: table;
    clear: both; }
  .bookingFormWarp .bCateBlk ul li {
    float: left;
    width: 50%;
    margin: 7px 0px; } }
@media (max-width: 450px) {
  .bookingFormWarp .bCateBlk ul li {
    width: 100%; } }
@media (max-width: 991px) {
  .mainMessageWrapper .__userListing .__inner {
    display: none; }
  .mainMessageWrapper .__userListing .member_list {
    height: inherit;
    height: auto;
    max-height: 300px;
    max-height: 17.64706rem; } }
@media (max-width: 1100px) {
  .sbsWarpper .formWarp {
    padding: 0px; } }
@media (max-width: 991px) {
  .sbsWarpper {
    padding-top: 60px; } }
@media (max-width: 767px) {
  .sbsWarpper .infoBlk .imgBlk {
    width: 200px;
    height: 200px; }
    .sbsWarpper .infoBlk .imgBlk img {
      width: 65%; }
  .sbsWarpper .infoBlk p {
    font-size: 16px;
    font-size: 0.94118rem;
    line-height: 1.8; }
  .sbsWarpper .innerWarp {
    height: inherit !important;
    height: auto !important; }
    .sbsWarpper .innerWarp .cell {
      display: block;
      width: 100%; }
  .sbsWarpper .formWarp {
    margin-top: 20px; } }
@media (max-width: 600px) {
  .addWhWarpper .formWarp .form-group .ch-checkMark {
    width: 100%; } }
@media (max-width: 991px) {
  .warehouseWarpper .wh_Warp .resultWarp .__content .__contentHead {
    padding-right: 0px; }
    .warehouseWarpper .wh_Warp .resultWarp .__content .__contentHead .__actions {
      position: relative;
      display: block;
      float: none; } }
@media (max-width: 499px) {
  .warehouseWarpper .warehouseDetailWarp .__backButton {
    float: left; } }

/*# sourceMappingURL=responsive.css.map */
