@include media("<=1400px") {
	
}
@include media("<=1200px") {
	.artist-market-page {
		&.artist-market-page-edit{
			.cyp_form_outer {
				.cyp_body {
					.cyp_body_inner {
						.cyp_contentbox {
							.field_outer {
								&.uploadimg {
									label {
										width: 70%;
										@include padding(20 30);
										cursor: pointer;
									}
									span {
										@include margin(8);
										@include fontsize(13);
									}
								}
								&.uploaded_images {
									.imgbox {
										@include width(53);
										@include height(53);
										@include margin(7);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@include media("<=992px") {

}
@include media("<=767px") {
	.artist-market-page {
		&.artist-market-page-edit{
			.cyp_form_outer {
				.cyp_body {
					.cyp_body_inner {
						.cyp_contentbox {
							.field_outer {
								&.uploadimg {
									label {
										@include width(250);
									}
								}
								&.uploaded_images {
									text-align: center;
									@include margin-top(25);
									.imgbox {
										&:first-child {
											@include margin-left(0);
										}
									}
								}
							}
						}
					}
				}
				.cyp_footer {
				@include padding(25 20);
				text-align: center;
					a {
						@include margin(0 5 0 0);
						&.theme-button{
							@include padding(10 10);
						}
					}
				}
			}
		}
	}
}
@include media("<=479px") {

}