<% extend 'layout' %>
    <div id="MainWarpper" class="bg-light aboutus" style="background: url(../BackgroundImages/banner_logist.jpg) no-repeat center center fixed;;">

        <div class="container">
            <div class="aboutheader">
                <h2>About Us</h2>

            </div>

            <div class="aboutus_wrapper" id="aboutus_wrapper"><h2><strong>About Us</strong></h2>
<p>LogistCompare is an innovative marketplace for warehouse space and services.&#xA0;</p>
<p>We connect &#xA0;organisations that need storage space with warehouse providers that can accommodate their requirements. Our platform allows warehouse providers to rent out available space online and to promote their services.</p>
<p>Our vision is to link logistics, technology and market demands to proactively meet your customer expectations.</p>
<p><br></p>
<p>&#xA0;Our unique service:</p>
<p><br></p>
<ul>
  <li>Get an instant selection of warehouse options and costs. &#xA0;<br>
<em>No need to wait for quotations any more</em></li>
  <li>Receive a full cost breakdown and availability. &#xA0;<br>
<em>No time wasted in benchmarking quotes</em></li>
  <li>Read reviews of warehouses made by other customers. &#xA0;<br>
<em>Less worries about reliability of their services</em></li>
  <li>Interact directly with the warehouses.<br>
<em>No time wasted in waiting for middlemen.</em></li>
</ul>
<p><br></p>
<p>Warehouse providers:&#xA0;</p>
<p><br></p>
<ul>
  <li>Rent out space online. &#xA0;<br>
<em>Generate additional revenue </em>&#xA0; &#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;</li>
  <li>Advertise your services. &#xA0;<br>
<em>Reach thousands of potential customers</em></li>
</ul></div>

        </div>

        <section class="aboutcontent">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12">

                        <div class="about_text">

                        </div>

                    </div>
                </div>
            </div>
        </section>


        <script src="/Content/js/jquery.rotateSlider.js"></script>
        <script>
            $(function () {
                $('#slider').rotateSlider({

                });

            });
        </script>
		<script>
                window.intercomSettings = {
                    app_id: "lyke5b5c"
                };
            </script>
            <script>
                (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/lyke5b5c'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()
            </script>
    </div>
    <!-- // Rating View Modal // -->
    <% end %>