<% extend 'layout' %>
    <div id="MainWarpper" class="bg-light aboutus" style="background: url(../BackgroundImages/banner_logist.jpg) no-repeat center center fixed;;">

        <div class="container">
            <div class="aboutheader">
                <h2>Solutions</h2>

            </div>

            <div class="aboutus_wrapper" id="aboutus_wrapper"><h2><strong>Solutions</strong></h2>
<p>&#xA0;&#xA0;</p>
<p>Marketplace solutions are increasingly giving customers opportunities to get fast solutions both in terms of timing and costs. Studies suggest that there is a price differential from forwarders of 41% in quotes for the same shipment.<br>
</p>
<p><br></p>
<p>LogistCompare is a warehouse marketplace platform aiming to support both retailers and warehouse providers :</p>
<p><br></p>
<p><strong>Customers looking for storage space</strong></p>
<ul>
  <li>Compares rates at the touch of a button.</li>
  <li>Provide full cost breakdown with every quotation.&#xA0;</li>
  <li>Gives access to &#x201C;chat&#x201D; buttons for a seamless communication with warehouse providers.&#xA0;</li>
  <li>Provide instant users reviews. &#xA0;&#xA0;</li>
  <li>Offer an easy and secure booking system.<br>
&#xA0;</li>
</ul>
<p><strong>&#xA0;Warehouse Providers</strong>&#xA0;</p>
<ul>
  <li>&#xA0;Provides the feasibility to rent out space online.&#xA0;</li>
  <li>&#xA0;Allows good customer reviews to improve market positioning.</li>
  <li>&#xA0;Promotes services.</li>
  <li>Increases visibility in the market.<br>
&#xA0;</li>
</ul>
<h2><br></h2></div>



        </div>
        <section class="aboutcontent">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12">

                        <div class="about_text">

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="modal fade modalWarpper wDetailModal" id="viewRatingModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Central Warehousing Corpn</h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="icon-close ico-t2"></i></button>
                </div>
                <div class="modal-body">
                    <div class="ratingBlk margin-bottom-6x">
                        <label class="lbl">Rating</label>
                        <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true">
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="blks reviewBlk margin-bottom-6x">
                                <h3>Latest Reviews</h3>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive">
                                            </a>
                                    </div>
                                    <div class="media-body">
                                        <h5>Sam wilson</h5>
                                        <div class="ratingBlk margin-bottom-1x">
                                            <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit
                                            tincidunt id.</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive">
                                            </a>
                                    </div>
                                    <div class="media-body">
                                        <h5>Sam wilson</h5>
                                        <div class="ratingBlk margin-bottom-1x">
                                            <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit
                                            tincidunt id.</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive">
                                            </a>
                                    </div>
                                    <div class="media-body">
                                        <h5>Sam wilson</h5>
                                        <div class="ratingBlk margin-bottom-1x">
                                            <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit
                                            tincidunt id.</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive">
                                            </a>
                                    </div>
                                    <div class="media-body">
                                        <h5>Sam wilson</h5>
                                        <div class="ratingBlk margin-bottom-1x">
                                            <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit
                                            tincidunt id.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blks text-center margin-bottom-6x">
                                <a href="javascript:void(0);" class="button button-default button-min-width margin-1x">
                                        Save
                                    </a>
                                <a href="javascript:void(0);" class="button button-action button-min-width margin-1x">
                                        Book
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>