<% extend 'layout' %>
    <div>
        <div id="MainWarpper" class="bg-light aboutus" style="background: url(../BackgroundImages/banner_logist.jpg) no-repeat center center fixed;">

            <div class="container">
                <div class="aboutheader">
                    <h2>Solutions</h2>

                </div>

                <div class="aboutus_wrapper" id="aboutus_wrapper">
                    <div class="col-md-6">
                        <div class="about">
                            <h2>Our Vision</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about">
                            <h2>Our Mission</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus.
                            </p>
                        </div>
                    </div>



                </div>



            </div>

        </div>

        <section class="aboutcontent">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12">

                        <div class="about_text">

                        </div>

                    </div>
                </div>
            </div>
        </section>


        <section class="hWarpper3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="Title margin-bottom-8x text-white">What people say</h2>
                        <div class="__testimonialUser wow fadeInDown">
                            <ul class="slickSyncNav">
                                <li>
                                    <span class="imgBlk"><img src="../Content/images/testimonials/user-1.jpg" alt="user-1" class="img-responsive" /></span>
                                </li>
                                <li>
                                    <span class="imgBlk"><img src="../Content/images/testimonials/user-1.jpg" alt="user-1" class="img-responsive" /></span>
                                </li>
                                <li>
                                    <span class="imgBlk"><img src="../Content/images/testimonials/user-1.jpg" alt="user-1" class="img-responsive" /></span>
                                </li>
                                <li>
                                    <span class="imgBlk"><img src="../Content/images/testimonials/user-1.jpg" alt="user-1" class="img-responsive" /></span>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-10 col-md-offset-1">
                                <div class="slickSyncFor wow fadeInUp">
                                    <div>
                                        <h3>Jhon Deo</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                            dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                            nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                            quis, sem. Nulla consequat massa quis enim.</p>
                                    </div>
                                    <div>
                                        <h3>Jhon Deo</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                            dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                            nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                            quis, sem. Nulla consequat massa quis enim.</p>
                                    </div>
                                    <div>
                                        <h3>Jhon Deo</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                            dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                            nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                            quis, sem. Nulla consequat massa quis enim.</p>
                                    </div>
                                    <div>
                                        <h3>Jhon Deo</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                            dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                            nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                            quis, sem. Nulla consequat massa quis enim.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade modalWarpper wDetailModal" id="viewRatingModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Central Warehousing Corpn</h4>
                        <button type="button" class="close" data-dismiss="modal"><i class="icon-close ico-t2"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="ratingBlk margin-bottom-6x">
                            <label class="lbl">Rating</label>
                            <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true"
                            />
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="blks reviewBlk margin-bottom-6x">
                                    <h3>Latest Reviews</h3>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5>Sam wilson</h5>
                                            <div class="ratingBlk margin-bottom-1x">
                                                <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true"
                                                />
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                                eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit
                                                elit tincidunt id.</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5>Sam wilson</h5>
                                            <div class="ratingBlk margin-bottom-1x">
                                                <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true"
                                                />
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                                eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit
                                                elit tincidunt id.</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5>Sam wilson</h5>
                                            <div class="ratingBlk margin-bottom-1x">
                                                <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true"
                                                />
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                                eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit
                                                elit tincidunt id.</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5>Sam wilson</h5>
                                            <div class="ratingBlk margin-bottom-1x">
                                                <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true"
                                                />
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                                eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit
                                                elit tincidunt id.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="blks text-center margin-bottom-6x">
                                    <a href="javascript:void(0);" class="button button-default button-min-width margin-1x">
                                        Save
                                    </a>
                                    <a href="javascript:void(0);" class="button button-action button-min-width margin-1x">
                                        Book
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>