<% extend 'layout' %>

    <div id="MainWarpper" class="bg-light aboutus" style="background: url(../BackgroundImages/banner_logist.jpg) no-repeat center center fixed;;">
        <div class="container">
            <div class="aboutheader">
                <h2>Why us</h2>

            </div>

            <div class="aboutus_wrapper" id="aboutus_wrapper"><h2><strong>Why Us?</strong></h2>
<p><strong><br>
Problem</strong></p>
<p><br></p>
<p>When looking for the right warehouse provider we are still using manual benchmarking processes which are slow and inadequate. Unnecessary time is spent in waiting to receive quotations from various providers and data integration can seriously impact the outcome. &#xA0;</p>
<p><br></p>
<p>&#x201C;The average time the forwarding industry took to provide a quote was 90 hours&#x201D;.</p>
<p><br></p>
<p>Also the agile supply chain is calling for fast, efficient and transparent logistics processes to address and satisfy customers requirements. This is still not in line with our &#x201C;internal logistics processes&#x201D;. Currently available internal logistics processes have not met these needs&#xA0;</p>
<p><strong><br>
Solution</strong></p>
<p>&#xA0;&#xA0;</p>
<p>LogistCompare is a marketplace solution for customers looking for warehouse storage, and providers who want to promote their space.</p>
<p><br></p>
<p>This system enables companies seeking warehouse space (particularly retailers) to receive, at the touch of a button, a selection of warehouses fitting their needs, including rates and reviews from other users. &#xA0;Warehouse providers will also have the opportunity to rent space and manage their listings online.</p>
<p><br></p>
<p>Whether you are an e-commerce company who has expanded beyond your current facilities and are now seeking to outsource to a professional experienced 3PL, an organisation who requires some additional pallet/bulk storage or distribution services, or if you have smaller inventories and require flexible hubs for storage, LogistCompare is here to help. &#xA0;</p>
<p><br></p>
<p>If you are a provider, with LogistCompare, there is no need for long term commitments. You can have your space back whenever required.</p>
<p><br></p>
<p>&#xA0;&#xA0;&#xA0;</p></div>



        </div>
        <section class="aboutcontent">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12">

                        <div class="about_text">

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade modalWarpper wDetailModal" id="viewRatingModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Central Warehousing Corpn</h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="icon-close ico-t2"></i></button>
                </div>
                <div class="modal-body">
                    <div class="ratingBlk margin-bottom-6x">
                        <label class="lbl">Rating</label>
                        <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true">
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="blks reviewBlk margin-bottom-6x">
                                <h3>Latest Reviews</h3>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive">
                                            </a>
                                    </div>
                                    <div class="media-body">
                                        <h5>Sam wilson</h5>
                                        <div class="ratingBlk margin-bottom-1x">
                                            <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit
                                            tincidunt id.</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive">
                                            </a>
                                    </div>
                                    <div class="media-body">
                                        <h5>Sam wilson</h5>
                                        <div class="ratingBlk margin-bottom-1x">
                                            <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit
                                            tincidunt id.</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive">
                                            </a>
                                    </div>
                                    <div class="media-body">
                                        <h5>Sam wilson</h5>
                                        <div class="ratingBlk margin-bottom-1x">
                                            <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit
                                            tincidunt id.</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="javascript:void(0);" class="imgBlk">
                                                <img src="../Content/images/default-user.jpg" alt="default" class="img-responsive">
                                            </a>
                                    </div>
                                    <div class="media-body">
                                        <h5>Sam wilson</h5>
                                        <div class="ratingBlk margin-bottom-1x">
                                            <input type="text" class="inputRating" value="3" data-min="0" data-max="5" data-step="1" data-size="xss" data-readonly="true">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit
                                            tincidunt id.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blks text-center margin-bottom-6x">
                                <a href="javascript:void(0);" class="button button-default button-min-width margin-1x">
                                        Save
                                    </a>
                                <a href="javascript:void(0);" class="button button-action button-min-width margin-1x">
                                        Book
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% end %>